meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title about
link(rel="stylesheet", href="css/index.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap", rel="stylesheet")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css")
.header
  .container
    .navbar
      .logo
        a(href="/")
          img(src="images/logo2.png", width="123px")
      nav
        ul#MenuItems
          li.main-header__item
            a(href="/", class=(path === '/' ? 'active' : '')) Home
          li.main-header__item
            a(href="/about", class=(path === '/about' ? 'active' : '')) About
          if user
            li.main-header__item
              a( href=`/profile/${user.id}`,class=(path === '/profile' ? 'active' : '')) Profile
            li.main-header__item
              a(href=`/chat/${user.id}`) chat
            li.main-header__item
              a(href="/logout", class=(path === '/logout' ? 'active' : '')) Logout

          else
            li.main-header__item
              a(href="/register", class=(path === '/register' ? 'active' : '')) Register
            li.main-header__item
              a(href="/login", class=(path === '/login' ? 'active' : '')) Login

      a(href="/donate")
        img(src="images/cart.png", width="30px", height="30px")
// ----------------account-pabe-------------
.account-page
  .container
    .row
      .col-3
        img(src="/images/about.svg", width="100%")
      .col-2
        p Welcome to SpeakEasy, a vibrant online community where people from around the world can connect, chat, and learn from each other.Our mission is to create a welcoming and inclusive platform that encourages meaningful conversations and personal growth. Whether you're looking to expand your network, improve your communication skills, or simply have fun chatting with like-minded individuals, you'll find a home here.

    
// ----------------footer----------
.footer
  .container
    .row
      .footer-col-1
        h3 Download Our App
        p Download App for Android and ios mobile phone.
        .app-logo
          img(src="images/play-store.png")
          img(src="images/app-store.png")
      .footer-col-2
        p Our purpose is to sustainbly make the pleasure and benefits of style and accessories to the many.
      .footer-col-3
        h3 Useful Links
        ul
          li Coupons
          li Blog Post
          li Return Policy
          li Join Affiliate
      .footer-col-4
        h3 Follow Us
        ul
          li Facebook
          li Twitter
          li Instagram
          li Youtube
    hr
    p.copyright copyright 2020