meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Index
link(href="/css/particles.css", rel="stylesheet")
link(href="/css/auth.css", rel="stylesheet")
#tsparticles
main.box
  h2 Register
    form(action='/register' method='post')
        a.button(href="/listview", style="float: left;") view list
        a.button(href="/register", style="float: left;") register
        a.button(href="/login", style="float: left;") login
    
footer.