doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(href="/css/particles.css", rel="stylesheet")
        link(href="/css/auth.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title profile
    body 
#tsparticles
main.box

    h1 profile of the user #{user.userName}
    button(type="submit") edit my profile