meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title register
link(rel="stylesheet", href="/css/index.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap", rel="stylesheet")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css")
.container
  .navbar
    .logo
      img(src="images/logo2.png", width="123px")
    nav
      ul#MenuItems
        li.main-header__item
          a(href="/", class=(path === '/' ? 'active' : '')) Home
        li.main-header__item
          a(href="/about", class=(path === '/about' ? 'active' : '')) About
        if user
          li.main-header__item
            a( href=`/profile/${user.id}`,class=(path === '/profile' ? 'active' : '')) Profile
          li.main-header__item
            a(href=`/chat/${user.id}`) chat
          li.main-header__item
            a(href="/logout", class=(path === '/logout' ? 'active' : '')) Logout

        else
          li.main-header__item
            a(href="/register", class=(path === '/register' ? 'active' : '')) Register
          li.main-header__item
            a(href="/login", class=(path === '/login' ? 'active' : '')) Login

    a(href="/donate")
      img(src="images/cart.png", width="30px", height="30px")
// ----------------account-pabe-------------
.account-page
  .container
    .row
      .col-2
        img(src="/images/signup.svg", width="100%")
      .col-2
        .form-container
            .form-btn
            .title
              span(onclick="register()") Register
            form.login-form(action="/register", method="post")
                label(for="userName") userName
                input(type="text", name="userName", placeholder="type your username", required)#userName
                label(for="email") email
                input(type="email", name="email", placeholder="type your email", required)#email
                label(for="userPassword") userPassword
                input(type="password", name="userPassword", placeholder="type your password", required)#userPassword
                button.btn(type="submit") register
                a(href="/login") 
                  p Already have an account?
// ----------------footer----------
.footer
  .container
    .row
      .footer-col-1
        h3 Download Our App
        p Download App for Android and ios mobile phone.
        .app-logo
          img(src="images/play-store.png")
          img(src="images/app-store.png")
      .footer-col-2
        p Our purpose is to sustainbly make the pleasure and benefits of style and accessories to the many.
      .footer-col-3
        h3 Useful Links
        ul
          li Coupons
          li Blog Post
          li Return Policy
          li Join Affiliate
      .footer-col-4
        h3 Follow Us
        ul
          li Facebook
          li Twitter
          li Instagram
          li Youtube
    hr
    p.copyright copyright 2020