meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Register
link(href="/css/particles.css", rel="stylesheet")
link(href="/css/auth.css", rel="stylesheet")
#tsparticles
main.box
  h2 Register
  form(action='/register' method='post')
    .inputBox
      label(for="userName") Username
      input#userName(type="text", name="userName", placeholder="type your username", required)
    .inputBox
      label(for="userPassword") Password
      input#userPassword(type="password", name="userPassword", placeholder="type your password", required)
    .inputBox
      //- label(for="userConfirmPassword") Confirm Password
      //- input#userConfirmPassword(type="password", name="userPassword", placeholder="confirm your password", required)
    button(type="submit", style="float: left;") Submit
    a.button(href="/login", style="float: left;") login
footer.